{% extends "layout/base.html" %} {% block title %}Dashbaord - My Website{%
endblock %} {% block content %}

<h1 id="lrn-h1">Learned Words</h1>

<h3 id="lrn-h3">List of Learned Words:</h3>
<div id="lrn-container">
  <ul class="learned-list">
    {% for learned_word in learned_words %}
    <li>
      {{ learned_word[1].word }} ({{
      learned_word[0].learned_on.strftime('%m-%d-%Y') }})
    </li>
    {% endfor %}
  </ul>
</div>
<a href="{{ url_for('dashboard') }}" class="back-button"> Back to Dashboard</a>
{% endblock %}
