{% extends "layout/base.html" %} {% block title %}Dashbaord - My Website{%
endblock %} {% block content %}
<div class="suggest-container">
  <h1 id="suggest-h1">Get A New Word To For Your Toddler To Learn!</h1>
  <h2 id="suggest-h2">Word Suggestion Is Based on Child's Age</h2>

  <form method="POST">
    {{ form.hidden_tag() }}
    <div>{{ form.category.label }} {{ form.category }}</div>
    <div>{{ form.submit }}</div>
  </form>

  {% if word %}
  <div>
    {% if word_exists %}
    <p id="already-exists">
      The suggested word "{{ word }}" has been suggested. Please try again or a
      suggest new category.
    </p>
    {% else %}
    <div id="new-suggword">
      <h2 id="new-h1">Suggested Word:</h2>
      <p id="new-p">{{ word }}</p>
    </div>
    {% endif %}
  </div>
  {% endif %}
  <a href="{{ url_for('dashboard') }}" class="back-button">Back to Dashboard</a>
</div>
{% endblock %}
