{% extends "layout/base.html" %} {% block title %}Dashbaord - My Website{%
endblock %} {% block content %} {% if toddler %}
<div class="toddler-details">
  <h2 id="todd-name">{{ toddler.name }}</h2>
  <p id="age">Age: {{ toddler.age }} months</p>
  {% if toddler.image_url %}
  <img src="{{ toddler.image_url }}" alt="{{ toddler.name }}" width="150" />
  {% endif %} {% if latest_word %}
  <p id="newest-word">
    Newest Learned Word: {{ latest_word[1].word }} on {{
    latest_word[0].learned_on.strftime('%m-%d-%Y') }}
  </p>
  {% else %}
  <p id="no-learned">No words learned yet!</p>
  {% endif %}
</div>
{% endif %}

<div class="latest-word">
  <h3 id="dboard-h3">Latest Suggested Words</h3>
  <ul class="word-box">
    {% if latest_suggestions %} {% for suggestion in latest_suggestions %} {% if
    not suggestion[0].is_learned %}
    <li class="dboard-word">
      <div class="word-details">
        {{ suggestion[1].word }} ({{
        suggestion[0].suggested_on.strftime('%d-%m-%Y') }})
      </div>
      <form
        method="POST"
        action="{{ url_for('learn_word', word_id=suggestion[1].id) }}"
      >
        <button type="submit" class="learn-button">Learn Word</button>
      </form>
      <form
        method="POST"
        action="{{ url_for('delete_suggested_word', suggestion_id=suggestion[0].id) }}"
      >
        <button type="submit" class="delete-button">Delete Word</button>
      </form>
    </li>
    {% endif %} {% endfor %} {% else %}
    <li id="no-word">
      Start Your Toddler's Speech Journey and With A Suggested Word!
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
