{% extends "layout/base.html" %} {% block title %}Dashbaord - My Website{%
endblock %} {% block content %} {% if toddler %}
<div class="toddler-details"></div>
{% endif %}

<h3 id="view-sugg-h3">All Suggested Words:</h3>
<ul class="view-sugg-container">
  {% for suggestion in suggested_words %}
  <li id="sugg-li">
    {{ suggestion[1].word }} ({{ suggestion[0].suggested_on.strftime('%d-%m-%Y')
    }})
  </li>
  {% endfor %}
</ul>

<a href="{{ url_for('dashboard') }}" class="back-button">Back to Dashboard</a>
{% endblock %}
